@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ba7c2d;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

header img{
    width: 130px;
    height: 130px;
}

header h1{
   margin-left: 35%;
   font-family: "Alegreya Sans", sans-serif;
}

body { 
    min-height: 100vh;
    background-image: url(../imagenes/fondo-1.jpg);
    background-size: 1440px, 900px;
    background-position: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container .btn{
    background-color: #ba7c2d;
    border: #000000 solid 3px;
    border-radius: 10px;
    margin: 20px;
    width: 320px;
    height: 60px;
    text-align: center;
    color: aliceblue;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}





